 d2dnewsfeedservice --username robbertploeg@gmail.com/src/main/webapp/newsfeedservice/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.han.nl/schemas/types"
        xmlns:tns="http://www.han.nl/schemas/types"
        elementFormDefault="qualified">

    <complexType name="Result">
        <all>
            <element name="message" type="string"/>
        </all>
    </complexType>

    <complexType name="Input">
        <all>
			<element name="name" type="string" minOccurs="1" maxOccurs="1"/>
        </all>
    </complexType>
</schema>